<%# You know...I don't think this makes sense as a partial after all, there's no ownership link to video_cover_letters.... %>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>

<%= form_with scope: :contact_form, url: '/send_contact', remote: true, method: :post, local: true, class: "container" do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "Reed Cruiter", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: "recruitment@twobarrels.com", value: "recruitment@twobarrels.com", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :subject  %>
    <%= form.text_field :subject, placeholder: "Good News.", value: "Good News.", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :message %>
    <%= form.text_area :message, class: "form-control", placeholder: "You're Hired.", value: "You're Hired." %>
  </div>
  <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>