<h1>Edit Video Cover Letter</h1>

<%= form_with model: @video_cover_letter do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @video_cover_letter.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
    <%@video_cover_letter.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :url %><br>
    <%= form.text_area :url %><br>
    <%@video_cover_letter.errors.full_messages_for(:url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>